Assign.*
assign
*~
*.o
*.jaime~
Assign.*
*.txt~
*/*.o
patrol*
10m*
simple*
assign*
src/fiberassign
src/fiberassign_surveysim
src/split_*
bin/fiberassign
bin/fiberassign_surveysim
bin/split_*
slurm*
*.pyc
script/*
test/*
*diff*
