name: CI

on:
    push:
        branches:
            - '*'
        tags:
            - '*'
    pull_request:

jobs:
    tests:
        name: Unit tests
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
              include:
                - os: ubuntu-latest
                  python-version: '3.13'
                  numpy-version: '<2.3' # Numba does not yet support NumPy 2.3
                  astropy-version: '<8.0'
                - os: ubuntu-latest
                  python-version: '3.12'
                  numpy-version: '<2.2'
                  astropy-version: '<7.0'
                - os: ubuntu-latest
                  python-version: '3.11'
                  numpy-version: '<2.1'
                  astropy-version: '<6.1'
                - os: ubuntu-latest
                  python-version: '3.10'
                  numpy-version: '<2.0'
                  astropy-version: '<6.1'

        env:
            DESIUTIL_VERSION: 3.5.0
            DESIMODEL_VERSION: 0.19.3
            DESIMETER_VERSION: 0.7.1
            DESIMODEL_DATA: branches/test-0.19
            DESIMODEL: ${{ github.workspace }}/desimodel
            DESITARGET_VERSION: 2.9.0

        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.12.1
              with:
                  access_token: ${{ github.token }}
            - name: Install System Packages
              run: sudo apt install libbz2-dev subversion
            - name: Checkout Package
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --no-cache-dir --upgrade pip setuptools wheel pytest
                python -m pip install --no-cache-dir pyyaml requests scipy matplotlib healpy
                python -m pip install --no-cache-dir --upgrade "numpy${{ matrix.numpy-version }}"
                python -m pip install --no-cache-dir --upgrade "astropy${{ matrix.astropy-version }}"
                python -m pip install --no-cache-dir fitsio
                python -m pip install desiutil==${DESIUTIL_VERSION}
                python -m pip install --no-build-isolation --no-cache-dir git+https://github.com/desihub/desimodel.git@${{ env.DESIMODEL_VERSION }}#egg=desimodel
                python -m pip install --no-build-isolation --no-cache-dir git+https://github.com/desihub/desitarget.git@${{ env.DESITARGET_VERSION }}#egg=desitarget
                python -m pip install --no-cache-dir git+https://github.com/desihub/desimeter.git@${{ env.DESIMETER_VERSION }}#egg=desimeter
                mkdir -p ${{ env.DESIMODEL }}
                svn export https://desi.lbl.gov/svn/code/desimodel/${{ env.DESIMODEL_DATA }}/data ${{ env.DESIMODEL }}/data
            # - name: Install Fiberassign
            #   run: CC=g++ CXX=g++ CFLAGS="-fPIC" LDSHARED="g++ -shared" python -m pip install -vvv .
            # - name: Run Tests
            #   run: python -c 'import fiberassign.test; fiberassign.test.runtests()'
            - name: Compile the package
              run: CC=g++ CXX=g++ CFLAGS="-fPIC" LDSHARED="g++ -shared" python setup.py build_ext --inplace
            - name: Run Tests
              run: pytest

    coverage:
        name: Test coverage
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
              include:
                # Python 3.10 environment from above
                - os: ubuntu-latest
                  python-version: '3.10'
                  numpy-version: '<2.0'
                  astropy-version: '<6.1'

        env:
            DESIUTIL_VERSION: 3.5.0
            DESIMODEL_VERSION: 0.19.3
            DESIMETER_VERSION: 0.7.1
            DESIMODEL_DATA: branches/test-0.19
            DESIMODEL: ${{ github.workspace }}/desimodel
            DESITARGET_VERSION: 2.9.0
            CXXFLAGS: -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall --coverage -fPIC
            # The ubuntu environment for the github action invokes $GXX $GXXFLGAS when building fiberassign
            # so the --coverage needs to be set in $CXXFLAGs. Building fiberassign locally
            # at NERSC, using the same python setup.py build_ext command below, invokes
            # $C $CFLAGS instead.

        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.12.1
              with:
                  access_token: ${{ github.token }}
            - name: Install System Packages
              run: sudo apt install libbz2-dev subversion lcov
            - name: Checkout Package
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --no-cache-dir --upgrade pip setuptools wheel pytest pytest-cov
                python -m pip install --no-cache-dir pyyaml requests scipy matplotlib healpy
                python -m pip install --no-cache-dir --upgrade "numpy${{ matrix.numpy-version }}"
                python -m pip install --no-cache-dir --upgrade "astropy${{ matrix.astropy-version }}"
                python -m pip install --no-cache-dir fitsio
                python -m pip install desiutil==${DESIUTIL_VERSION}
                python -m pip install --no-build-isolation --no-cache-dir git+https://github.com/desihub/desimodel.git@${{ env.DESIMODEL_VERSION }}#egg=desimodel
                python -m pip install --no-build-isolation --no-cache-dir git+https://github.com/desihub/desitarget.git@${{ env.DESITARGET_VERSION }}#egg=desitarget
                python -m pip install --no-cache-dir git+https://github.com/desihub/desimeter.git@${{ env.DESIMETER_VERSION }}#egg=desimeter
                mkdir -p ${{ env.DESIMODEL }}
                svn export https://desi.lbl.gov/svn/code/desimodel/${{ env.DESIMODEL_DATA }}/data ${{ env.DESIMODEL }}/data
            - name: Compile the package
              run: CC=g++ CXX=g++ CFLAGS="-fPIC --coverage" LDSHARED="g++ -shared --coverage" python setup.py build_ext --inplace
            - name: Run Tests
              run: pytest --cov
            - name: Collate C++ coverage
            # Need to ignore mismatch errors for some unknown reason. gcoy and g++ versions match, so it's not clear why those errors occur.
            # Ignoring them is the recommended workaround in the case where the versions match, at lesat for the time being.
            # This can be revisited in the future.
              run: |
                lcov --capture --directory build/temp*/src/ --output-file coverage.info --ignore-errors mismatch
                lcov --remove coverage.info '/usr/include/*' 'src/pybind11/*' -o coverage_cpp.info
            - name: Upload coverage
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  files: .coverage coverage_cpp.info

    docs:
        name: Doc test
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-22.04]
                python-version: ['3.10']

        env:
            DESIUTIL_VERSION: 3.5.0

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --upgrade pip setuptools wheel
                python -m pip install -r doc/rtd_requirements.txt
            # - name: Install desiutil
            #   run: python -m pip install --no-cache-dir git+https://github.com/desihub/desiutil.git@${{ env.DESIUTIL_VERSION }}#egg=desiutil
            - name: Compile the package
              run: CC=g++ CXX=g++ CFLAGS="-fPIC" LDSHARED="g++ -shared" python setup.py build_ext --inplace
            - name: Test the documentation
            #  run: sphinx-build -W --keep-going -b html doc doc/_build/html
              run: sphinx-build --keep-going -b html doc doc/_build/html
